lab3/files/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="author" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="year" type="xs:int"/>
                <xs:element name="cost" type ="xs:int"/>
                <xs:element name="num_of_pages" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>